<p>Hello,</p>
<p>We’ve received the following information from a new remote employee on
    Talentpoint.</p>

<ul>
    <li><b>Fullname: </b> {{fullname}}</li>
    <li><b>Email</b>: {{email}}</li>
    <li><b>Current Location</b>: {{city}}</li>
    <li><b>Skills</b>: {{skills}}</li>
    <li><b>Current Role</b>: {{currentRole}}</li>
    <li><b>Linkedin Profile</b>: {{linkedinProfile}}</li>
    <li><b>Intrested Job Type</b>: {{intrestedJobType}}</li>
    <li><b>Job Search Status</b>: {{jobSearchStatus}}</li>
    <li><b>Desired Salary</b>: {{desiredSalary}}</li>
    <li><b>Role Looking</b>: {{roleLookingFor}}</li>
    <li><b>Cv Url</b>: {{cvUrl}}</li>
</ul>

<p>Please contact the employee via call or email to get started with our vetting
    process.</p>

<p>Thank you, </p>