<p>Hello,</p>
<p>We have a new employer looking to hire remote talent with Talentpoint.</p>

<ul>
    <li><b>Fullname: </b> {{fullname}}</li>
    <li><b>Email: </b> {{email}}</li>
    <li><b>Company Name: </b> {{companyName}}</li>
    <li><b>Role Want To Hire: </b> {{roleWantToHire}}</li>
    <li><b>Number of Employee: </b> {{numberOfEmployee}}</li>
    <li><b>Project Type: </b> {{typeOfProject}}</li>
    <li><b>Role Type: </b> {{roleType}}</li>
    <li><b>Getting Started: </b> {{gettingStarted}}</li>
    <li><b>Open to Remote Work: </b> {{openToRemoteWork}}</li>
    <li><b>Role Level: </b> {{roleLevel}}</li>
    <li><b>Budget: </b> {{budget}}</li>

</ul>

<p>Call Scheduled on: {{callTime}} </p>

<p>Thank you, </p>